.toy-details {
  margin-block-start: rem(20px);

  .toy-name {
    font-size: em(32px);
    font-family: $heading-font-family;
  }

  .toy-price {
    font-size: em(24px);
  }

  .toy-stock {
    font-size: em(18px);

    &.in-stock {
      color: $in-stock-clr;
    }

    &.out-stock {
      color: $out-stock-clr;
    }
  }

  .btn-back {
    padding: rem(10px) rem(20px);
    margin-block-end: rem(10px);

    font-size: em(16px);
    color: $surface-clr;
    background-color: $main-clr-10;
    transition: background-color $hover-transition;

    &:hover {
      background-color: darken($main-clr-10, 5%);
    }
  }
}

.loading-toy-msg {
  margin-block-start: rem(20px);
  font-size: em(24px);
}
