.toy-index {
  .actions-container {
    display: grid;
    grid-template-columns: auto;
    row-gap: em(10px);

    padding: em(15px);
    margin-block: $content-gap;

    background-color: $main-clr-10;
    box-shadow: $toy-card-shadow;

    a {
      width: fit-content;
      .btn-add-toy {
        @include btnAction($surface-clr, $main-font-clr);
      }
    }

    .actions-title {
      font-size: em(18px);
      font-family: $heading-font-family;
      letter-spacing: 2px;
      color: $surface-clr;
    }
  }

  .no-toys-msg {
    font-size: em(24px);
  }
}
