.toy-details {
  margin-block-start: $content-gap;

  .btn-back {
    @include btnAction($main-clr-10);
  }

  .toy-name {
    font-size: em(32px);
    font-family: $heading-font-family;
  }

  .toy-price {
    font-size: em(24px);
  }

  .label-list {
    gap: 8px;

    .label {
      background-color: $main-clr--10;
      padding: em(5px) em(10px);

      font-size: em(14px);
    }
  }

  .toy-stock {
    font-size: em(18px);

    &.in-stock {
      color: $in-stock-clr;
    }

    &.out-stock {
      color: $out-stock-clr;
    }
  }
}

.loading-toy-msg {
  margin-block-start: $content-gap;
  font-size: em(24px);
}
