@mixin for-normal-layout {
  @media (max-width: $break-normal) {
    @content;
  }
}

@mixin for-narrow-layout {
  @media (max-width: $break-narrow) {
    @content;
  }
}

@mixin for-small-layout {
  @media (max-width: $break-small) {
    @content;
  }
}

@mixin for-mobile-layout {
  @media (max-width: $break-mobile) {
    @content;
  }
}

@mixin fullPage {
  height: calc(100dvh - $app-header-height);
}

@mixin btnAction($bgColor, $fontColor: $surface-clr) {
  @content;
  padding: rem(10px) rem(20px);
  font-size: em(16px);
  color: $fontColor;
  background-color: $bgColor;
  transition: background-color $color-transition;

  &:hover {
    background-color: darken($bgColor, 5%);
  }
}

@mixin clickEffect {
  transition: scale 0.3s;
  @content;

  &:active {
    scale: 0.9;
  }
}
