@mixin for-normal-layout {
  @media (max-width: $break-normal) {
    @content;
  }
}

@mixin for-narrow-layout {
  @media (max-width: $break-narrow) {
    @content;
  }
}

@mixin for-small-layout {
  @media (max-width: $break-small) {
    @content;
  }
}

@mixin for-mobile-layout {
  @media (max-width: $break-mobile) {
    @content;
  }
}

@mixin btnAction($bgColor, $fontColor: $surface-clr) {
  @content;
  padding: rem(10px) rem(20px);
  margin-block-end: rem(10px);

  font-size: em(16px);
  color: $fontColor;
  background-color: $bgColor;
  transition: background-color $hover-transition;

  &:hover {
    background-color: darken($bgColor, 5%);
  }
}
