// General
$surface-clr: rgb(255, 255, 255);

// Font
$main-font-clr: rgb(50, 51, 56);
$main-font-family: PoppinsRegular, sans-serif;
$heading-font-family: PoppinsBold, sans-serif;

// Colors
$main-clr-base: #389bd8;

// Dimensions
