// General
$surface-clr: rgb(255, 255, 255);
$content-gap: 20px;

// Fonts
$main-font-clr: rgb(50, 51, 56);
$main-font-family: PoppinsRegular, sans-serif;
$heading-font-family: PoppinsBold, sans-serif;

// Main Colors
$main-clr-10: #186fa5;
$main-clr-5: #4092d0;
$main-clr-base: #7dbee6;
$main-clr--10: #bae4ff;

// Extra Colors
$in-stock-clr: #07a507;
$out-stock-clr: #b60808;
$dropdown-item-hover-clr: #d4d4d4;
$toy-remove-btn-clr: #ff4f4f;

// Dimensions
$toy-card-width: 300px;

// Borders
$btn-edit-border-clr: #7d7d7d;
$input-filter-border-clr: #d0d0d0;
$dropdown-gap-border-clr: #a7a7a779;

// Extra
$color-transition: 0.3s;
$toy-card-shadow: -5px 2px 13px 0px rgba(92, 92, 92, 0.267);
$action-input-padding: 5px;

// Breakpoints
$break-mobile: 450px;
$break-small: 600px;
$break-narrow: 750px;
$break-normal: 1000px;
