.toy-preview {
  gap: em(15px);
  padding-block: em(20px);

  background-color: $main-clr--10;
  transition: all $color-transition;
  cursor: pointer;

  &:hover {
    scale: 1.05;
    box-shadow: $toy-card-shadow;
  }

  .toy-name {
    font-size: em(24px);
  }

  .toy-price {
    font-size: em(16px);
    font-family: $heading-font-family;
  }

  .toy-stock {
    font-size: em(16px);

    &.in-stock {
      color: $in-stock-clr;
    }

    &.out-stock {
      color: $out-stock-clr;
    }
  }

  .toy-actions-container {
    width: 80%;
    gap: 8px;

    .btn-action {
      width: 50%;
      padding: rem(10px) rem(20px);

      font-size: em(14px);
      color: $surface-clr;

      background-color: $main-clr-5;
      transition: background-color $color-transition;

      &:hover {
        background-color: darken($main-clr-base, 8%);
      }

      &.remove {
        background-color: $toy-remove-btn-clr;
      }
    }
  }
}
