.toy-preview {
  gap: em(15px);
  padding-block: em(20px);

  background-color: $main-clr--10;
  transition: all $hover-transition;
  cursor: pointer;

  &:hover {
    scale: 1.05;
    box-shadow: $toy-card-shadow;
  }

  .toy-name {
    font-size: em(24px);
  }

  .toy-price {
    font-size: em(16px);
    font-family: $heading-font-family;
  }

  .toy-stock {
    font-size: em(16px);

    &.in-stock {
      color: $in-stock-clr;
    }

    &.out-stock {
      color: $out-stock-clr;
    }
  }
}
