.toy-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 70px auto;
  grid-template-areas:
    'back-btn msg-form'
    'content msgs';
  column-gap: em(40px);

  padding: 30px;
  margin-block-start: $content-gap;
  background-color: $main-clr--10;

  a {
    width: fit-content;
    height: fit-content;

    .btn-back {
      @include btnAction($main-clr-10) {
        grid-area: btn-back;
        align-self: center;
      }
    }
  }

  .details-content {
    grid-area: content;

    .toy-name {
      font-size: em(24px);
      font-family: $heading-font-family;
    }

    .price-stock-container {
      align-items: baseline;
      gap: em(20px);
      margin-block-end: em(20px);

      .toy-price {
        font-size: em(24px);
      }

      .toy-stock {
        font-size: rem(16px);

        &.in-stock {
          color: $in-stock-clr;
        }

        &.out-of-stock {
          color: $out-stock-clr;
        }
      }
    }

    .label-list {
      gap: 8px;
      margin-block-end: rem(10px);

      .label {
        padding: em(5px) em(10px);
        font-size: em(14px);
        color: $surface-clr;
        background-color: $main-clr-5;
      }
    }
  }

  .msgs-container {
    grid-area: msgs;
    height: 100%;

    .msgs-heading {
      margin-block-end: rem(6px);
      font-size: em(24px);
      font-family: $heading-font-family;
    }
  }

  .no-msgs {
    grid-area: msgs;

    font-size: em(14px);
    font-style: italic;
    line-height: 2.4;
    color: $toy-remove-btn-clr;
    opacity: 0.7;
  }

  .login-msg {
    font-size: em(16px);
    color: $main-font-clr;

    a {
      @include btnLogin;
    }
  }
}

.loading-toy-msg {
  margin-block-start: $content-gap;
  font-size: em(24px);
}
