.toy-details {
  margin-block-start: $content-gap;
  background-color: $main-clr--10;
  padding: 30px;

  .btn-back {
    @include btnAction($main-clr-10);
  }

  .toy-name {
    font-size: em(32px);
    font-family: $heading-font-family;
  }

  .price-stock-container {
    align-items: baseline;
    gap: em(20px);
    margin-block-end: em(20px);

    .toy-price {
      font-size: em(24px);
    }

    .toy-stock {
      font-size: rem(16px);

      &.in-stock {
        color: $in-stock-clr;
      }

      &.out-of-stock {
        color: $out-stock-clr;
      }
    }
  }

  .label-list {
    gap: 8px;
    margin-block-end: rem(10px);

    .label {
      padding: em(5px) em(10px);
      font-size: em(14px);
      color: $surface-clr;
      background-color: $main-clr-5;
    }
  }
}

.loading-toy-msg {
  margin-block-start: $content-gap;
  font-size: em(24px);
}
