.about-page {
  @include fullPage;

  display: grid;
  grid-template-columns: 3fr 4fr;
  column-gap: em(40px);

  .content-container {
    font-size: em(16px);
    line-height: 1.6;

    .about-heading {
      margin-block-end: rem(30px);
      font-size: em(24px);
      font-family: $heading-font-family;
    }

    .greet {
      color: $main-clr-base;
    }

    .about-description {
      margin-block: em(15px);
      gap: em(5px);
    }
  }

  .map {
    margin-block: $content-gap;
  }
}
