.login-page {
  margin-block-start: $content-gap;

  .login-title {
    font-size: em(32px);
    font-family: $heading-font-family;
    margin-block-end: rem(16px);
  }

  .change-method-msg {
    gap: 4px;
    align-items: baseline;
    font-size: em(14px);

    .btn-change-method {
      @include btnLogin;
    }
  }
}
